@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700;800&display=swap');
/* General styles */
body {
  background-color: #262626;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.3rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* buttons */
.btn-primary {
  background-color: #0060bf;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 17px;
}
/* nav */
.nav-link {
  font-weight: 500;
  font-size: 15px;
  color: #e6e6e6;
  margin-left: 1rem;
  margin-top: 3px;
}

/* Card */
.card {
  background-color: #333;
  color: white;
  width: 300px;
  max-width: 380px;
  min-width: 200px;
  border-radius: 8px;
}
.card-name {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
}
.card-image {
  height: 180px;
  width: 100%;
  background-position: center;
  background-color: #424242;
  padding-top: 10px;
  border-radius: 8px;
}
.card-image img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  margin: 0 auto;
  border: 7px solid #ff9900;
  object-fit: contain;
}
/* whyus card */
.card-why-us {
  background-color: #333;
  padding: 3rem 1rem;
  height: 420px;
  border-radius: 8px;
}
.card-why-us h4 {
  font-size: 2.3rem;
}
.card-why-us h5 {
  font-size: 0.8rem;
  color: #9ef01a;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.card-why-us p {
  color: #e6e6e6;
  font-weight: 300;
}
/* Profile details */
.profile-cover {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
  filter: blur(8px);
  -webkit-filter: blur(3px);
  position: relative;
  z-index: 1;
}
.profile-img {
  width: 250px;
  height: 250px;
  max-width: 250px;
  border-radius: 100%;
  border: 7px solid #ff9900;
  margin-bottom: 1.8rem;
}
.profile-details {
  z-index: 999;
  margin-top: -160px;
  position: sticky;
}
.profile-name {
  font-size: 2.5rem;
  text-transform: lowercase;
}
.profile-amount {
  font-size: 1.8rem;
}
.profile-bio {
  border-bottom: 1px solid white;
  width: 380px;
  padding-bottom: 20px;
}
.profile-description {
  margin-top: 0.8rem;
  color: #e6e6e6;
  width: 380px;
  font-weight: 300;
  line-height: 24px;
}

/* landing page */
.hero-title {
  font-size: 3rem;
  line-height: 110%;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.hero-subtitle {
  font-size: 1rem;
  color: #9ef01a;
  letter-spacing: 2.5px;
}
.hero p {
  color: #e6e6e6;
  width: 400px;
}
.hero p a {
  text-decoration: underline;
}
.cta-primary,
.cta-secondary {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  border-radius: 4px;
}
.cta-primary {
  background-color: #0060bf;
  margin-right: 1rem;
}
.cta-secondary {
  background-color: white;
  color: black;
}
.hero-left {
  width: 650px;
}
/* social proof */
.social-proof {
  margin-left: 0;
  margin-right: 0;
  padding: 0.8rem 0;
  background-color: #424242;
}
.social-proof ul li svg {
  width: 250px;
}
.social-proof ul li:nth-child(3) {
  margin-right: 3px;
}
/* tablets and below */
@media only screen and (max-width: 900px) {
  .profile-img {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .social-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-bar > * {
    margin-bottom: 0.1rem;
  }
  /* hero */
  /* social proof */
  .social-proof ul li svg {
    width: 150px;
  }
}

/* create-profile page */
.drag-drop {
  background-color: #333;
  border-radius: 4px;
  margin: 0 auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}
.drag-drop p {
  font-size: 1.2rem;
}
.drag-drop img {
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
}
.form-btn {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: rgb(140, 0, 0);
}
.mint-form {
  padding: 1.5rem 4rem;
  margin: 0 auto;
  background-color: #424242;
  width: 100%;
}
.mint-form form {
  margin: 0 auto;
}
.mint-form form button {
  margin-left: 0;
}
.mint-form form input {
  width: 155%;
}
